* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body and global styles */
body {
    background-color: darkgray;
    color: #333;
    line-height: 1.6;
}


/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    padding: 0.5rem;
    height: 60px;
}

header nav ul {
    display: flex;
    gap: 45px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: red;
}

header .header-right input {
    padding: 0.5rem;
    margin-right: 10px;
}

header .header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

header .header-right a  img {
    height: 25px;
    vertical-align: middle;
}

header .header-right a:hover {
    color: red;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

footer ul {
    list-style: none;
    margin-bottom: 1rem;
}

footer ul li {
    display: inline-block;
    margin: 0 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

footer ul li a:hover {
    color: red;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-media img {
    width: 30px;
    height: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    flex-wrap: wrap; /* Makes it responsive on small screens */
}

.mission, .vision {
    flex: 1 1 45%;
    background-color: gray;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 20px;
    line-height: 1.6;
}